# Week2 Programming Assignment

In [4]:
# Fire up graphlab module
import graphlab

### Load data from dataset in SFrame format

In [5]:
sales = graphlab.SFrame('home_data.gl/')

This non-commercial license of GraphLab Create for academic use is assigned to nitin.cherian@gmail.com and will expire on December 28, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\NitinG\AppData\Local\Temp\graphlab_server_1514594903.log.0

In [6]:
sales

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900 |    3     |     1     |     1180    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000 |    3     |    2.25   |     2570    |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000 |    2     |     1     |     770     |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000 |    4     |     3     |     1960    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000 |    3     |     2     |     1680    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000 |    4     |    4.5    |     5420    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500 |    3     |    2.25   |     1715    |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850 |    3     |    1.5    |     1060    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500 |    3     |     1     |     1780    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000 |    3     |    2.5    |     1890    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |       0       |
|   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |      400      |
|  10000   |   1    |     0      |  0   |     3     |   6   |    770     |       0       |
|   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |      910      |
|   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |       0       |
|  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |      1530     |
|   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |       0       |
|   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |       0       |
|   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |      730      |
|   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1955   |      0       |  98178  | 47.51123398 | -122.25677536 |     1340.0    | ... |
|   1951   |     1991     |  98125  | 47.72102274 |  -122.3188624 |     1690.0    | ... |
|   1933   |      0       |  98028  | 47.73792661 | -122.23319601 |     2720.0    | ... |
|   1965   |      0       |  98136  |   47.52082  | -122.39318505 |     1360.0    | ... |
|   1987   |      0       |  98074  | 47.61681228 | -122.04490059 |     1800.0    | ... |
|   2001   |      0       |  98053  | 47.65611835 | -122.00528655 |     4760.0    | ... |
|   1995   |      0       |  98003  | 47.30972002 | -122.32704857 |     2238.0    | ... |
|   1963   |      0       |  98198  | 47.40949984 | -122.31457273 |     1650.0    | ... |
|   1960   |      0       |  98146  | 47.51229381 | -122.33659507 |     1780.0    | ... |
|   2003   |      0       |  98038  | 47.36840673 |  -122.0308176 |     2390.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

### Select houses with zipcode = 98039

In [7]:
houses_zipcode_98039 = sales[sales['zipcode'] == '98039']

In [8]:
houses_zipcode_98039

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: Unknown

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 3625049014 | 2014-08-29 00:00:00+00:00 | 2950000 |    4     |    3.5    |     4860    |
| 2540700110 | 2015-02-12 00:00:00+00:00 | 1905000 |    4     |    3.5    |     4210    |
| 3262300940 | 2014-11-07 00:00:00+00:00 |  875000 |    3     |     1     |     1220    |
| 3262300940 | 2015-02-10 00:00:00+00:00 |  940000 |    3     |     1     |     1220    |
| 6447300265 | 2014-10-14 00:00:00+00:00 | 4000000 |    4     |    5.5    |     7080    |
| 2470100110 | 2014-08-04 00:00:00+00:00 | 5570000 |    5     |    5.75   |     9200    |
| 2210500019 | 2015-03-24 00:00:00+00:00 |  937500 |    3     |     1     |     1320    |
| 6447300345 | 2015-04-06 00:00:00+00:00 | 1160000 |    4     |     3     |     2680    |
| 6447300225 | 2014-11-06 00:00:00+00:00 | 1880000 |    3     |    2.75   |     2620    |
| 2525049148 | 2014-10-07 00:00:00+00:00 | 3418800 |    5     |     5     |     5450    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|  23885   |   2    |     0      |  0   |     3     |   12  |    4860    |       0       |
|  18564   |   2    |     0      |  0   |     3     |   11  |    4210    |       0       |
|   8119   |   1    |     0      |  0   |     4     |   7   |    1220    |       0       |
|   8119   |   1    |     0      |  0   |     4     |   7   |    1220    |       0       |
|  16573   |   2    |     0      |  0   |     3     |   12  |    5760    |      1320     |
|  35069   |   2    |     0      |  0   |     3     |   13  |    6200    |      3000     |
|   8500   |   1    |     0      |  0   |     4     |   7   |    1320    |       0       |
|  15438   |   2    |     0      |  2   |     3     |   8   |    2680    |       0       |
|  17919   |   1    |     0      |  1   |     4     |   9   |    2620    |       0       |
|  20412   |   2    |     0      |  0   |     3     |   11  |    5450    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1996   |      0       |  98039  | 47.61717049 | -122.23040939 |     3580.0    | ... |
|   2001   |      0       |  98039  | 47.62060082 |  -122.2245047 |     3520.0    | ... |
|   1955   |      0       |  98039  | 47.63281908 | -122.23554392 |     1910.0    | ... |
|   1955   |      0       |  98039  | 47.63281908 | -122.23554392 |     1910.0    | ... |
|   2008   |      0       |  98039  | 47.61512031 | -122.22420058 |     3140.0    | ... |
|   2001   |      0       |  98039  | 47.62888314 | -122.23346379 |     3560.0    | ... |
|   1954   |      0       |  98039  | 47.61872888 | -122.22643371 |     2790.0    | ... |
|   1902   |     1956     |  98039  | 47.61089438 | -122.22582388 |     4480.0    | ... |
|   1949   |      0       |  98039  | 47.61435052 | -122.22772057 |     3400.0    | ... |
|   2014   |      0       |  98039  | 47.62087993 | -122.23726918 |     3160.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[? rows x 21 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

### Find average prices of the houses with zipcode = 98039

In [9]:
avg_price_houses_zipcode_98039 = houses_zipcode_98039['price'].mean()

In [10]:
avg_price_houses_zipcode_98039

2160606.5999999996

In [11]:
houses_zipcode_98039.show()

Canvas is accessible via web browser at the URL: http://localhost:49628/index.html
Opening Canvas in default web browser.

### Filter houses that have 'sqft_living' > 2000 and <= 4000 sqft

In [12]:
houses_sqft_living_2000_4000 = sales[(sales['sqft_living'] > 2000) & (sales['sqft_living'] <= 4000)]

In [13]:
houses_sqft_living_2000_4000

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: Unknown

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000 |    3     |    2.25   |     2570    |
| 1736800520 | 2015-04-03 00:00:00+00:00 |  662500 |    3     |    2.5    |     3560    |
| 9297300055 | 2015-01-24 00:00:00+00:00 |  650000 |    4     |     3     |     2950    |
| 2524049179 | 2014-08-26 00:00:00+00:00 | 2000000 |    3     |    2.75   |     3050    |
| 7137970340 | 2014-07-03 00:00:00+00:00 |  285000 |    5     |    2.5    |     2270    |
| 3814700200 | 2014-11-20 00:00:00+00:00 |  329000 |    3     |    2.25   |     2450    |
| 1794500383 | 2014-06-26 00:00:00+00:00 |  937000 |    3     |    1.75   |     2450    |
| 1873100390 | 2015-03-02 00:00:00+00:00 |  719000 |    4     |    2.5    |     2570    |
| 8562750320 | 2014-11-10 00:00:00+00:00 |  580500 |    3     |    2.5    |     2320    |
| 0461000390 | 2014-06-24 00:00:00+00:00 |  687500 |    4     |    1.75   |     2330    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |      400      |
|   9796   |   1    |     0      |  0   |     3     |   8   |    1860    |      1700     |
|   5000   |   2    |     0      |  3   |     3     |   9   |    1980    |      970      |
|  44867   |   1    |     0      |  4   |     3     |   9   |    2330    |      720      |
|   6300   |   2    |     0      |  0   |     3     |   8   |    2270    |       0       |
|   6500   |   2    |     0      |  0   |     4     |   8   |    2450    |       0       |
|   2691   |   2    |     0      |  0   |     3     |   8   |    1750    |      700      |
|   7173   |   2    |     0      |  0   |     3     |   8   |    2570    |       0       |
|   3980   |   2    |     0      |  0   |     3     |   8   |    2320    |       0       |
|   5000   |  1.5   |     0      |  0   |     4     |   7   |    1510    |      820      |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1951   |     1991     |  98125  | 47.72102274 |  -122.3188624 |     1690.0    | ... |
|   1965   |      0       |  98007  | 47.60065993 | -122.14529566 |     2210.0    | ... |
|   1979   |      0       |  98126  | 47.57136955 | -122.37541218 |     2140.0    | ... |
|   1968   |      0       |  98040  | 47.53164379 | -122.23345881 |     4110.0    | ... |
|   1995   |      0       |  98092  | 47.32658071 | -122.16892624 |     2240.0    | ... |
|   1985   |      0       |  98030  | 47.37386303 | -122.17228981 |     2200.0    | ... |
|   1915   |      0       |  98119  | 47.63855772 | -122.35985573 |     1760.0    | ... |
|   2005   |      0       |  98052  | 47.70732168 | -122.11029785 |     2630.0    | ... |
|   2003   |      0       |  98027  |  47.5391103 | -122.06971484 |     2580.0    | ... |
|   1929   |      0       |  98117  | 47.68228235 | -122.36760203 |     1460.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[? rows x 21 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [14]:
total_houses = sales.num_rows()

In [15]:
total_houses_sqft_living_2000_4000 = houses_sqft_living_2000_4000.num_rows()

In [16]:
fraction = float(total_houses_sqft_living_2000_4000) / total_houses

In [17]:
fraction

0.42187572294452413

In [18]:
total_houses

21613

In [19]:
total_houses_sqft_living_2000_4000

9118

In [20]:
houses_sqft_living_2000_4000.show()

Canvas is accessible via web browser at the URL: http://localhost:49628/index.html
Opening Canvas in default web browser.

# Build Regression Model

In [21]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
              'zipcode']

In [22]:
advanced_features = [
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', # condition of house
'grade', # measure of quality of construction
'waterfront', # waterfront property
'view', # type of view
'sqft_above', # square feet above ground
'sqft_basement', # square feet in basement
'yr_built', # the year built
'yr_renovated', # the year renovated
'lat', 'long', # the lat-long of the parcel
'sqft_living15', # average sq.ft. of 15 nearest neighbors
'sqft_lot15', # average lot size of 15 nearest neighbors 
]

In [23]:
advanced_features

['bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'zipcode',
 'condition',
 'grade',
 'waterfront',
 'view',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

### Split dataset into train and test set

In [25]:
train_data, test_data = sales.random_split(0.8, 0)

### Build the Regression Models

In [27]:
my_features_model = graphlab.linear_regression.create(train_data,
                                                      target='price',
                                                      features=my_features,
                                                      validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 115

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 1.042060     | 3763208.270524     | 181908.848367 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [28]:
my_features_model.evaluate(train_data)

{'max_error': 3763208.2705236035, 'rmse': 181908.84836745376}

In [29]:
my_features_model.evaluate(test_data)

{'max_error': 3486584.509381928, 'rmse': 179542.43331269105}

In [33]:
my_features_model_rmse = my_features_model.evaluate(test_data)['rmse']

In [34]:
my_features_model_rmse

179542.43331269105

In [30]:
advanced_features_model = graphlab.linear_regression.create(train_data,
                                                           target='price',
                                                           features=advanced_features,
                                                           validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 18

Number of unpacked features : 18

Number of coefficients    : 127

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.016001     | 3469012.450663     | 154580.940735 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [31]:
advanced_features_model.evaluate(train_data)

{'max_error': 3469012.4506629286, 'rmse': 154580.9407353535}

In [32]:
advanced_features_model.evaluate(test_data)

{'max_error': 3556849.413848093, 'rmse': 156831.11680191013}

In [37]:
advanced_features_model_rmse = advanced_features_model.evaluate(test_data)['rmse']

In [38]:
advanced_features_model_rmse

156831.11680191013

In [42]:
diff_rmse = my_features_model_rmse - advanced_features_model_rmse

In [43]:
diff_rmse

22711.316510780918

#### The RMSE of the model with advanced_features lower by less than $25,000

# Some experiments on the model (Not part of assignment)

In [51]:
my_features_model.get('coefficients')

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 115

Data:
+-------------+-------+----------------+---------------+
|     name    | index |     value      |     stderr    |
+-------------+-------+----------------+---------------+
| (intercept) |  None | -88006.8416464 | 13167.1778025 |
|   bedrooms  |   2   | 21165.5766369  |  4892.4148316 |
|   bedrooms  |   4   | -41706.3113919 | 3600.23032619 |
|   bedrooms  |   5   | -92815.3727611 |  6185.8669821 |
|   bedrooms  |   1   | 45824.7402238  | 15487.2986256 |
|   bedrooms  |   6   | -179627.840979 | 13060.1531948 |
|   bedrooms  |   7   | -370367.546312 | 33894.1528762 |
|   bedrooms  |   8   | -343106.520191 | 56609.2407592 |
|   bedrooms  |   0   | -13095.4952099 | 70106.1085644 |
|   bedrooms  |   9   | -432903.521695 | 82975.5547771 |
+-------------+-------+----------------+---------------+
[115 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [53]:
my_features_model.get('coefficients').print_rows(num_rows=115)

+-------------+-------+----------------+-----------------+
|     name    | index |     value      |      stderr     |
+-------------+-------+----------------+-----------------+
| (intercept) |  None | -88006.8416464 |  13167.1778025  |
|   bedrooms  |   2   | 21165.5766369  |   4892.4148316  |
|   bedrooms  |   4   | -41706.3113919 |  3600.23032619  |
|   bedrooms  |   5   | -92815.3727611 |   6185.8669821  |
|   bedrooms  |   1   | 45824.7402238  |  15487.2986256  |
|   bedrooms  |   6   | -179627.840979 |  13060.1531948  |
|   bedrooms  |   7   | -370367.546312 |  33894.1528762  |
|   bedrooms  |   8   | -343106.520191 |  56609.2407592  |
|   bedrooms  |   0   | -13095.4952099 |  70106.1085644  |
|   bedrooms  |   9   | -432903.521695 |  82975.5547771  |
|   bedrooms  |   10  |  -619048.4872  |  107182.890642  |
|  bathrooms  |  2.25 | -37510.897359  |  6544.37620443  |
|  bathrooms  |   3   | -29969.8176131 |  9402.49016635  |
|  bathrooms  |   2   | -39866.213104  |  6077.55753032  |
|  bathrooms  |  4.5  | 184378.025364  |  22453.1888274  |
|  bathrooms  |  1.5  | -33067.2162723 |  6520.97244958  |
|  bathrooms  |  2.5  | -43818.6807071 |  6193.98048659  |
|  bathrooms  |  1.75 | -38955.946954  |  5415.63245166  |
|  bathrooms  |  2.75 | -40077.8668949 |  8050.48189392  |
|  bathrooms  |  3.25 | 63351.4291677  |  10795.2897272  |
|  bathrooms  |   4   | 161014.286998  |  19380.4328731  |
|  bathrooms  |  3.5  | -8866.10804954 |  10447.6148091  |
|  bathrooms  |  0.75 | 31403.3879011  |  26131.3889064  |
|  bathrooms  |  4.75 | 511545.035416  |  43404.3504609  |
|  bathrooms  |   5   | 416316.059735  |  46985.6211179  |
|  bathrooms  |  4.25 | 258099.861414  |  25332.5005242  |
|  bathrooms  |  3.75 | 120749.550567  |  18472.9959217  |
|  bathrooms  |  1.25 | 25020.4629559  |  61200.2578129  |
|  bathrooms  |   0   | 47391.0225125  |  78563.4643476  |
|  bathrooms  |  5.25 | 362875.096941  |  54774.7462695  |
|  bathrooms  |   6   | 1040376.24477  |  76602.2618545  |
|  bathrooms  |  0.5  | -64185.4253965 |  105584.508712  |
|  bathrooms  |  5.5  | 769432.968239  |  62596.7250125  |
|  bathrooms  |  6.75 | 590179.282209  |  131751.484262  |
|  bathrooms  |  5.75 | 1145716.22118  |  131280.318042  |
|  bathrooms  |   8   | 1741315.81608  |  134413.765046  |
|  bathrooms  |  7.5  | -294326.739286 |  200951.809641  |
|  bathrooms  |  6.25 | 919328.021773  |  130582.832797  |
|  bathrooms  |  6.5  | 75594.0949032  |  130196.056927  |
| sqft_living |  None | 252.484740578  |  2.75463141052  |
|   sqft_lot  |  None | 0.224988001715 | 0.0368311853577 |
|    floors   |   2   | -1055.72273374 |  4045.84202523  |
|    floors   |  1.5  | 12620.4464828  |  5390.83846646  |
|    floors   |   3   | -36044.9876078 |   9496.1592648  |
|    floors   |  2.5  | 102090.134004  |  16433.2306319  |
|    floors   |  3.5  | 200157.516095  |  92710.0800223  |
|   zipcode   | 98125 | 160751.823803  |  15960.7120665  |
|   zipcode   | 98028 | 60922.2669862  |  17411.2795993  |
|   zipcode   | 98136 | 230865.672531  |  17508.7770966  |
|   zipcode   | 98074 | 153580.005082  |  15751.8172933  |
|   zipcode   | 98053 | 130278.199274  |  16106.1775464  |
|   zipcode   | 98003 | -54911.6444944 |  17249.4029074  |
|   zipcode   | 98198 | -16540.2512934 |  17230.1065657  |
|   zipcode   | 98146 | 69354.4165534  |  17134.5245596  |
|   zipcode   | 98038 | -37492.5217509 |  14992.5633679  |
|   zipcode   | 98007 | 220538.921894  |  20951.1029231  |
|   zipcode   | 98115 | 278412.400557  |  14897.3637565  |
|   zipcode   | 98107 |   304219.247   |  17623.9940494  |
|   zipcode   | 98019 | 2830.15766235  |   19592.678081  |
|   zipcode   | 98103 | 279524.125894  |  15140.4840178  |
|   zipcode   | 98002 | -50408.7807851 |  19051.9219297  |
|   zipcode   | 98133 |  102506.11989  |  15326.8920602  |
|   zipcode   | 98040 |  540615.11034  |  17853.5959966  |
|   zipcode   | 98092 | -83181.9320252 |  16256.0501079  |
|   zipcode   | 98030 | -60517.4287493 |  17523.1144348  |
|   zipcode   | 98119 | 467044.764142  |  19394.0277213  |
|   zipcode   | 98112 | 556464.414142  |  17652.1922205  |
|   zipcode   | 98052 | 193613.445922  |  15051.6934358  |
|   zipcode   | 98117 | 269355.474046  |  15056.8734793  |
|   zipcode   | 98058 | -25676.8685821 |  15544.7786038  |
|   zipcode   | 98001 | -64277.4996074 |  16355.0847459  |
|   zipcode   | 98023 | -82323.2359903 |  15350.3515757  |
|   zipcode   | 98070 | 104338.359908  |   22817.290121  |
|   zipcode   | 98148 |  2073.4610269  |  30772.4167761  |
|   zipcode   | 98056 | 47229.0937333  |  15887.5384297  |
|   zipcode   | 98105 | 458505.451195  |  18407.8114719  |
|   zipcode   | 98042 | -53247.2555005 |  15193.4318115  |
|   zipcode   | 98008 | 257065.990271  |  17214.7394873  |
|   zipcode   | 98059 | 28477.8453542  |  15628.6735681  |
|   zipcode   | 98166 | 52425.1693133  |  17878.1180952  |
|   zipcode   | 98122 | 291661.137789  |  17417.8867965  |
|   zipcode   | 98144 | 242266.473377  |  16559.4281364  |
|   zipcode   | 98004 |  753447.16869  |  16901.2358766  |
|   zipcode   | 98005 | 272922.339963  |  20232.6024176  |
|   zipcode   | 98034 | 159026.062988  |  15058.1368438  |
|   zipcode   | 98075 | 168236.280173  |  16392.8644403  |
|   zipcode   | 98116 | 264902.412201  |  16698.8679918  |
|   zipcode   | 98010 | -7459.38418953 |  23732.6285306  |
|   zipcode   | 98118 | 110939.742724  |  15225.2935515  |
|   zipcode   | 98199 |  337653.07924  |  16809.0154422  |
|   zipcode   | 98045 | 34464.0868898  |  18703.1104418  |
|   zipcode   | 98102 | 490517.401554  |  24659.3498351  |
|   zipcode   | 98077 | 64949.7834383  |  19420.5166459  |
|   zipcode   | 98027 | 102196.236953  |  16184.0601403  |
|   zipcode   | 98108 | 43276.5317162  |  19788.7922264  |
|   zipcode   | 98168 | -19130.9017861 |  17600.7032738  |
|   zipcode   | 98177 | 217154.463922  |  17664.4141986  |
|   zipcode   | 98065 | 6743.77635738  |   16821.354698  |
|   zipcode   | 98029 |  171111.45563  |  17015.0804738  |
|   zipcode   | 98006 | 262676.542947  |  15431.8259827  |
|   zipcode   | 98032 | -59271.4826825 |  21952.8719434  |
|   zipcode   | 98022 | -37072.4000114 |  18568.8249054  |
|   zipcode   | 98126 | 139459.993505  |  16687.9266325  |
|   zipcode   | 98033 | 328934.623214  |  15826.3323186  |
|   zipcode   | 98155 | 94112.6779149  |  15773.9501146  |
|   zipcode   | 98024 | 76708.8034614  |  25345.6128788  |
|   zipcode   | 98011 | 69358.4511337  |  19388.4804796  |
|   zipcode   | 98031 | -41190.0383937 |  17354.1943037  |
|   zipcode   | 98106 | 56892.1536961  |  16715.3996969  |
|   zipcode   | 98072 | 99499.5776013  |  17392.4599428  |
|   zipcode   | 98188 | -44332.8630468 |  21065.0498912  |
|   zipcode   | 98055 | -25391.6088181 |  17523.7954993  |
|   zipcode   | 98014 | 3344.04529313  |  22537.6699787  |
|   zipcode   | 98109 | 465331.549662  |  23017.8964282  |
|   zipcode   | 98039 |  1162973.0381  |  30608.2364613  |
+-------------+-------+----------------+-----------------+
[115 rows x 4 columns]

In [49]:
my_features_model.features

['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']

In [54]:
graphlab.canvas.set_target('ipynb')

In [64]:
sales['bathrooms_float'] = sales['bathrooms'].apply(float)

In [68]:
sales[['bathrooms_float']]

Columns:
	bathrooms_float	float

Rows: 21613

Data:
+-----------------+
| bathrooms_float |
+-----------------+
|       1.0       |
|       2.25      |
|       1.0       |
|       3.0       |
|       2.0       |
|       4.5       |
|       2.25      |
|       1.5       |
|       1.0       |
|       2.5       |
+-----------------+
[21613 rows x 1 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [69]:
sales.show(view='Scatter Plot', x="bathrooms_float", y="price")

In [71]:
sales.show(view='BoxWhisker Plot', x="bathrooms", y="Price")

# Apply models to predict the house prices

In [72]:
house1 = sales[sales['id'] == '5309101200']

In [73]:
house1.price

AttributeError: 'SFrame' object has no attribute 'price'

In [75]:
house1[['price']]

Columns:
	price	int

Rows: Unknown

Data:
+--------+
| price  |
+--------+
| 620000 |
+--------+
[? rows x 1 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [76]:
my_features_model.predict(house1)

dtype: float
Rows: 1
[721918.9333272816]

In [77]:
advanced_features_model.predict(house1)

dtype: float
Rows: 1
[630754.0062215771]

In [78]:
house2 = sales[sales['id'] == '1925069082']

In [79]:
house2[['price']]

Columns:
	price	int

Rows: Unknown

Data:
+---------+
|  price  |
+---------+
| 2200000 |
+---------+
[? rows x 1 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [82]:
my_features_model.predict(house2)

dtype: float
Rows: 1
[1446472.4690774996]

In [83]:
advanced_features_model.predict(house2)

dtype: float
Rows: 1
[2109163.5697071226]

In [84]:
my_features_model.evaluate(house2)

{'max_error': 753527.5309225004, 'rmse': 753527.5309225004}

In [85]:
advanced_features_model.evaluate(house2)

{'max_error': 90836.43029287737, 'rmse': 90836.43029287737}